# WELCOME TO PYTHON

My python first class

In [1]:
# ADDITION
2+2

4

In [2]:
# MULTIPLICATION
2*3

6

In [3]:
# DIVISION
4/2

2.0

In [4]:
# SUBTRACTION
9-2

7

In [5]:
# Remender
11%2

1

In [6]:
a=10

In [7]:
b=5

In [8]:
a   #a is a container and 10 is containing value

10

In [9]:
b  #b is a container and 5 is a containing value

5

In [10]:
# SUBTRACTION
a-b

5

In [11]:
# MULTIPLICATION
a*b

50

In [12]:
# ADDITION
a+b

15

In [13]:
c=a+b

In [14]:
c

15

In [15]:
c=a*b

In [16]:
c

50

In [17]:
c=a-b

In [18]:
c

5

In [19]:
print("Hello learning python")

Hello learning python

In [20]:
print (c)

5

In [21]:
name='ABC'

In [22]:
name

'ABC'

In [23]:
print (name)

ABC

In [24]:
print ('name')

name

In [25]:
g=50
h=15
x=g+h
x

65

PYTHON BASIC STEPS

In [26]:
print("python is fun")

python is fun

Exploring to work on variables

In [27]:
4+9

13

In [28]:
num1=10

In [29]:
num1

10

In [30]:
num2=80

In [31]:
num2

80

In [32]:
num3=num1+num2

In [33]:
num3

90

In [34]:
#Task : make a variable x =8 and y =4  ,add them store them in third variable z and see the result

In [35]:
number1=150
number1

150

In [36]:
number2=377
number2

377

In [37]:
subtraction=number1-number2

In [38]:
subtraction

-227

In [39]:
addition=number1+number2

In [40]:
addition

527

In [41]:
multiply=number1*number2
multiply

56550

In [42]:
division=number1/number2
division

0.3978779840848806

In [43]:
# performing division operation
12/3

4.0

In [44]:
16%3             #modulus returns remainder

1

In [45]:
12%4            #modulus returns remainder

0

In [46]:
6**2            #raise to the power

36

In [47]:
2**2            #power

4

Putting your pre-algebra skills to the test, let's look at comparisons, which evaluate to boolean values
. e.g. either True or False(or 1 or 0)

Boolean operations

In [48]:
2<5

True

In [49]:
4>10

False

In [50]:
3==3

True

In [51]:
5==9

False

In [52]:
5==6

False

In [53]:
6!=9

True

In [54]:
6==9

False

In [55]:
7!=7

False

In [56]:
a=input('enter first value')

enter first value20

In [57]:
a

'20'

In [58]:
b=input('enter second value')

enter second value20

In [59]:
b

'20'

In [60]:
c=a+b

In [61]:
c

'2020'

Functions

Python provides you with a number of built-in functions for manipulating integers

type cast

In [62]:
float(9)

9.0

In [63]:
float(-9999)

-9999.0

In [64]:
int(89.56)

89

In [65]:
int(4.67)

4

In [66]:
int(9.897)

9

In [67]:
float(80)

80.0

In [68]:
a=input('enter first value')

enter first value20

In [69]:
a

'20'

In [70]:
b=input('enter second value')

enter second value21

In [71]:
b

'21'

In [72]:
# Adding two values
c=a+b
c

'2021'

In [73]:
# Typecasting cast the data in number type

c=int(a)+int(b)
print(c)

41

In [74]:
#b=int(input('inter value'))

Strings

Strings are lines of text that are declared with single or double quotes

In [75]:
mystring='hello'

In [76]:
mystring

'hello'

In [77]:
print("Learning Python")

Learning Python

In [78]:
country="Australia"
print(country)

Australia

In [79]:
movie='Dare'
print(movie)

Dare

Concatenate string+++++adding of strings

In [80]:
"hello"+"world"

'helloworld'

In [81]:
"happy "+"birthday"

'happy birthday'

In [82]:
"Happy " + "birthday"

'Happy birthday'

In [83]:
"Her name is "+ "Maria"

'Her name is Maria'

In [84]:
mystring

'hello'

Using len funcgtion to find out length of variable

In [85]:
len(mystring)

5

In [86]:
len("INDIA")

5

In [87]:
country="Germany"
print(country)
len(country)

Germany

7

In [88]:
value_city="Dublin"
print(value_city)
len(value_city)

Dublin

6

In [89]:
country="india"
len(country)

5

Slice()-given a start and stop value

In [90]:
print("Hello"[0])

H

In [91]:
print('Hello'[1])

e

In [92]:
print("Pooja"[2])

o

In [93]:
print("Pooja"[4])

a

In [94]:
print("Hello"[3])

l

In [95]:
print("Hello"[4])

o

In [96]:
print("Hello"[0:2])

He

In [97]:
print("Hello"[1:4])

ell

In [98]:
city="newjersey"

In [99]:
city[2]

'w'

In [100]:
city[0:6]

'newjer'

In [101]:
city[3:6]

'jer'

In [102]:
city[2:7]

'wjers'

In [103]:
city[-1]

'y'

In [104]:
city[-4:-2]

'rs'

In [105]:
city[-7:-2]

'wjers'

start value is inclusive and stop value is exclusive

In [106]:
h=78
# type command is used for looking the data type
type(h)

int

In [107]:
s="hello"
type(s)

str

In [108]:
d=4.45
type(d)

float

In [109]:
height=4.89
weight=56.2
bmi=weight/height**2
print(bmi)

2.3502745471957716

Task  write a statement for finding area of rectagle.

Take a variable : lengh and breadth
 
Make a third variable area and use lengh*breadth and then print (area)

In [110]:
length=6
breadth=8
area=length*breadth
print(area)

48