Lists, which are called Arrays

1.create a list=[]

2.number list=[1,2,3]

3.strings list=["spam","eggs","cheese"]

4.mixed list=["Hello",[1,2,3],False]

In [1]:
creat_a_list=[1,2]
creat_a_list

[1, 2]

In [2]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [3]:
alist=[5,6,7,8]
alist

[5, 6, 7, 8]

In [4]:
numbers_list=[1,2,3,400,500,45,90]
numbers_list

[1, 2, 3, 400, 500, 45, 90]

In [5]:
strings_list=["batman","superman","iron man"]
strings_list

['batman', 'superman', 'iron man']

In [6]:
mixed_list=["Hello","world",4,6,7,False]
mixed_list

['Hello', 'world', 4, 6, 7, False]

In [7]:
my_list=["orange","red",2,56,9]
my_list

['orange', 'red', 2, 56, 9]

You can access elements from the list from either the beginning or end of the list:

In [8]:
numbers_list

[1, 2, 3, 400, 500, 45, 90]

In [9]:
numbers_list[0]

1

In [10]:
numbers_list[1]

2

In [11]:
numbers_list[0:1]

[1]

In [12]:
numbers_list[0:3]

[1, 2, 3]

In [13]:
numbers_list[0:4]

[1, 2, 3, 400]

In [14]:
my_list

['orange', 'red', 2, 56, 9]

In [15]:
my_list[3]

56

In [16]:
my_list[0:3]

['orange', 'red', 2]

In [17]:
my_list[-1]

9

In [18]:
my_list[-4:-1]

['red', 2, 56]

Negative indexes count from the last item backwards:

In [19]:
numbers_list

[1, 2, 3, 400, 500, 45, 90]

In [20]:
numbers_list[-1]

90

In [21]:
numbers_list[-2]

45

In [22]:
numbers_list[-3]

500

In [23]:
numbers_list[-4]

400

[start value is inclusive : stop value is exclusive]

In [24]:
numbers_list

[1, 2, 3, 400, 500, 45, 90]

In [25]:
numbers_list[-4:-1]

[400, 500, 45]

In [26]:
numbers_list[-4:-2]

[400, 500]

In [27]:
numbers_list[-3:-1]

[500, 45]

In [28]:
strings_list

['batman', 'superman', 'iron man']

In [29]:
strings_list[0]

'batman'

In [30]:
strings_list[1]

'superman'

In [31]:
strings_list[2]

'iron man'

In [32]:
strings_list[-1]

'iron man'

In [33]:
strings_list[-2]

'superman'

In [34]:
strings_list[-3:-1]

['batman', 'superman']

In [35]:
#Slicing in depth
a = [10,20,30,40,50,60,70,80]
# slicing  [start : stop :jump or skip]

# [start: stop :jump]
print(a[0:7:1])# IF THE JUMP VALUE IS 1 THEN WILL NOT BE SKIPPED ANY VALUE
print(a[0:7:2])# IF THE JUMP VALUE IS 2 OR MORE THEN SKIP EQUAL VALUES
print(a[0:7:3])
print(a[7:0:-1])# IF THE JUMP VALUE IS -1 THEN WILL NOT BE EFFECTED SAME

b = a[::2]# here jump value is not available so it will be taking entire list values and skipped by 2
print(b)
print(a[::3])# here jump value is not available so it will be taking entire list values and skipped by 3
print(a[::-1])# here jump value is not available so it will be taking entire list values and skipped by -1

[10, 20, 30, 40, 50, 60, 70]
[10, 30, 50, 70]
[10, 40, 70]
[80, 70, 60, 50, 40, 30, 20]
[10, 30, 50, 70]
[10, 40, 70]
[80, 70, 60, 50, 40, 30, 20, 10]

Manipulating lists

Operators

Lists can be concatenated:

In [36]:
fruits=["apples","grapes","oranges","banana"]
veggies=["corn","kale","mushrooms"]
grocery_list=fruits + veggies
grocery_list

['apples', 'grapes', 'oranges', 'banana', 'corn', 'kale', 'mushrooms']

TASK


make a two list, one list holding the name of mobile names: Iphone,oppo,lava,blackberry.lg and second list holding the name of reliance,airtel,vodafone and concatenate them, see the whole list

In [37]:
mobile=["Iphone","oppo","lava"]
channel=["reliance","airtel","vodafone"]
total=mobile + channel
total

['Iphone', 'oppo', 'lava', 'reliance', 'airtel', 'vodafone']

In [38]:
numbers_list

[1, 2, 3, 400, 500, 45, 90]

In [39]:
len(numbers_list)

7

TASK

make a list cricketlist.give name of 5 players. once created see it. now add any number runs with each player see it access the list with following cricketlist[0:4],then cricketlist[2:7],then [3:6],then[-6:-2] at the end find length of the string using len function in this way u learned list using string/numbers we call it heterogeneous list as we can add many data type

In [40]:
#Hint
#nameoflist=["Sachin",8000,"ghhh",8888,"ssss",4333,]
#nameoflist[0:4]

slice in list

In [41]:
hello=["H","e","l","l","o"]
hello

['H', 'e', 'l', 'l', 'o']

In [42]:
hello[2]

'l'

In [43]:
hello[3]

'l'

In [44]:
hello[0:2]

['H', 'e']

In [45]:
hello[1:4]

['e', 'l', 'l']

In [46]:
hello[-1]

'o'

In [47]:
hello[-2]

'l'

In [48]:
hello[2:5]

['l', 'l', 'o']

In [49]:
hello[-4:-1]

['e', 'l', 'l']

list.append()-used to add a item to the end of a list

In [50]:
fruits=["apples","grapes","oranges"]
fruits.append("blueberries")
fruits.append("abc")
fruits

['apples', 'grapes', 'oranges', 'blueberries', 'abc']

list.sort()--sorting the list

In [51]:
fruits.sort()
fruits

['abc', 'apples', 'blueberries', 'grapes', 'oranges']

list.pop()---given an index value, remove an element from the list

In [52]:
numbers_list

[1, 2, 3, 400, 500, 45, 90]

In [53]:
numbers_list.pop(2)

3

In [54]:
numbers_list

[1, 2, 400, 500, 45, 90]

List are mutable ie. it can be changed after creation

In [55]:
x=[4,5,6,7,8]
x

[4, 5, 6, 7, 8]

In [56]:
x[0]

4

In [57]:
x[1]

5

In [58]:
#here value 5 will be changed into 72
x[1]=72
x

[4, 72, 6, 7, 8]

Hence the list is changed(mutable)

TUPLES

Tuples are similar to lists, but they are immutable-which means they cannot be changed after creation.

Ex.
1. tup1=('physics','chemistry',1997,2000);
2. tup2=(1,2,3,4,5);
3. tup3=("a","b","c","d");

In [59]:
my_tuple = ("Michael", "Herman", 31, "Software Developer")
my_tuple

('Michael', 'Herman', 31, 'Software Developer')

In [60]:
my_tuple[1]

'Herman'

In [61]:
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)

In [62]:
tuple3=tuple1+tuple2
tuple3

(1, 2, 3, 4, 5, 6, 7, 8)

In [63]:
# accessing the element
tuple3[2]

3

In [64]:
#tuple values can not be changed after creation (here we can see the error of typeerror)
tuple3[2]=85

TypeError: 'tuple' object does not support item assignment

Hence tuple does not support the changes after the creation. it is immutable.

In [65]:
# this a comment on it's own line
# you create them with the hash symbol
var = "Hello" # they can also be on the same line as code
var

'Hello'

DICTIONARY

In [66]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [67]:
dict['Name']

'Zara'

In [68]:
print(dict['Age'])

7

In [69]:
dict['Age']=10

In [70]:
dict

{'Name': 'Zara', 'Age': 10, 'Class': 'First'}

In [71]:
print(dict['Class'])

First

In [72]:
print("dict['Name']:",dict['Name'])

dict['Name']: Zara

In [73]:
len(dict)

3

In [74]:
dict.keys()

dict_keys(['Name', 'Age', 'Class'])

In [75]:
dict.values()

dict_values(['Zara', 10, 'First'])

In [76]:
dict.items()

dict_items([('Name', 'Zara'), ('Age', 10), ('Class', 'First')])

In [77]:
# Adding a new key value pair

dict.update({'Fee':5000})
dict

{'Name': 'Zara', 'Age': 10, 'Class': 'First', 'Fee': 5000}

In [78]:
# Updating existing key's value
dict['Fee']= 9500

print(dict)

{'Name': 'Zara', 'Age': 10, 'Class': 'First', 'Fee': 9500}

Make a dictionary naming colordict with key-value pair

rock:brown

trees:green

apple:red

banana:yellow

   and then print it

In [79]:
colordict={'rock':'brown','trees':'green','apple':'red','banana':'yellow'}
print(colordict)

{'rock': 'brown', 'trees': 'green', 'apple': 'red', 'banana': 'yellow'}

Enhanched operation in Dictionary

In [80]:
#Dictionary with integer keys:

intdict = {10: "C++", 20: "Java", 30: "Python", 40: "Ruby"}

In [81]:
intdict.keys()

dict_keys([10, 20, 30, 40])

In [82]:
intdict.values()

dict_values(['C++', 'Java', 'Python', 'Ruby'])

In [83]:
intdict.items()

dict_items([(10, 'C++'), (20, 'Java'), (30, 'Python'), (40, 'Ruby')])

In [84]:
# adding a new key to a dictionary

intdict.update({50:'Rails'})
intdict

{10: 'C++', 20: 'Java', 30: 'Python', 40: 'Ruby', 50: 'Rails'}

In [85]:
# adding a value in given key

intdict[40]='Csharp'
intdict

{10: 'C++', 20: 'Java', 30: 'Python', 40: 'Csharp', 50: 'Rails'}

In [86]:
# delete a key
del intdict[50]
intdict

{10: 'C++', 20: 'Java', 30: 'Python', 40: 'Csharp'}

In [87]:
# delete with pop
intdict.pop(30)
intdict

{10: 'C++', 20: 'Java', 40: 'Csharp'}

In [88]:
intdict.items()

dict_items([(10, 'C++'), (20, 'Java'), (40, 'Csharp')])

In [89]:
# disctionary with multiple values

newdict={1:['Red','Green','Blue'],2:['White','Pink','Purple'],3:['brown','yellow','Light green']}

In [90]:
newdict

{1: ['Red', 'Green', 'Blue'],
 2: ['White', 'Pink', 'Purple'],
 3: ['brown', 'yellow', 'Light green']}

In [91]:
newdict.keys()

dict_keys([1, 2, 3])

In [92]:
newdict.values()

dict_values([['Red', 'Green', 'Blue'], ['White', 'Pink', 'Purple'], ['brown', 'yellow', 'Light green']])

In [93]:
newdict.items()

dict_items([(1, ['Red', 'Green', 'Blue']), (2, ['White', 'Pink', 'Purple']), (3, ['brown', 'yellow', 'Light green'])])

In [94]:
dict.clear()

In [95]:
dict

{}

In [96]:
del dict

In [97]:
dict

dict