PYTHON LOOPS


1. While loop
    
    While (condition)
        statements
        increment

(1). Count=1
(2). While count<11:
(3). Print(count)
(4). Count=count+1

2. For loop

for i = 1 to 10
  <loop body>

While Loop

In [1]:
count=1 # you can take any name on space of the count spot like i,k,j.
while count<11:
    print(count)
    count=count+1
# it will start counting from 1 and go less then 11 acording to loop.

1
2
3
4
5
6
7
8
9
10

In [2]:
count=5
while count < 17:
    print(count)
    count=count+2

5
7
9
11
13
15

In [3]:
count = 1
# Code block 1
while count < 11:
    print (count)
    count = count + 1

1
2
3
4
5
6
7
8
9
10

In [4]:
# Code block 2
if count == 11:
    print ('Counting complete.')

Counting complete.

In [5]:
t=10
while t<20:
    print(t)
    t=t+2

10
12
14
16
18

In [6]:
k=0
while k<20:
    print(k)
    k+=5

0
5
10
15

FOR LOOP
(collection=based or iterator-based loop)

In [7]:
a=["sky","earth","water"]
for i in a:
    print(i)

sky
earth
water

In [8]:
color=["orange","red","blue"]
for i in color:
    print (i)

orange
red
blue

# Task 1

Create a list with name fundriks with elements coke,lemon,soda,pepsi
and then iterate it through for loop.

In [9]:
fundrinks=["coke","lemon","soda","pepsi"]
for i in fundrinks:
    print(i)

coke
lemon
soda
pepsi

SAMPLELIST=[",",","]

for x in samplelist: print(x)
    
iterating through a dictionary

In [10]:
d={1:'sky',2:'earth',3:'water',4:'Forest'}
for k in d:
    print(k)

1
2
3
4

In [11]:
d={1:'sky',2:'earth',3:'water',4:'Forest'}
for k in d:
    print(d[k])

sky
earth
water
Forest

In [12]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
d_items = a_dict.items()

print(d_items)

#write the below code in next cell

for key in a_dict:
    print(key, '->', a_dict[key])

dict_items([('color', 'blue'), ('fruit', 'apple'), ('pet', 'dog')])
color -> blue
fruit -> apple
pet -> dog

The range() Function

In [13]:
s = [] # here is empty data list
for i in range(2, 11, 2): #fist 2 number is start 11 is end and 2 jump
    s.append(i)
    
print(s)

[2, 4, 6, 8, 10]

In [14]:
data=[1,2,3,4,5]
# storing the value of list in variable while iteration

m=[d for d in data]
print(m)

[1, 2, 3, 4, 5]

In [15]:
data=[1,2,3,4,5,6,7,8]

m=[d for d in data if d % 2 == 0]
print(m)

[2, 4, 6, 8]

In [16]:
j=[i for i in range (0,30,5)] # 0 is start, 30 is end and 5 is jump
j

[0, 5, 10, 15, 20, 25]

In [17]:
dict = {1:100 , 2:200 , 3:300}
s = [k for k in dict]
s

[1, 2, 3]

In [18]:
dict = {1:100 , 2:200 , 3:300}
s = [k for k in dict.items()]
s

[(1, 100), (2, 200), (3, 300)]

In [19]:
# storing the values from dictionary object
dict = {1:100 , 2:200 , 3:300}
s = {int(k):int(v) for k,v in dict.items()}
s

{1: 100, 2: 200, 3: 300}

In [20]:
test_dict = {"Arushi" : 22, "Anuradha" : 21, "Mani" : 21, "Haritha" : 21}

new_dict = {key:val for key, val in test_dict.items()}
new_dict

{'Arushi': 22, 'Anuradha': 21, 'Mani': 21, 'Haritha': 21}

In [21]:
print ("The dictionary is : " + str(new_dict))

The dictionary is : {'Arushi': 22, 'Anuradha': 21, 'Mani': 21, 'Haritha': 21}

RANGE FUNCTION

In [22]:
x=range(5)
x

range(0, 5)

In [23]:
type(x)

range

In [24]:
for i in x:
    print(i)

0
1
2
3
4

In [25]:
p=range(2,20)
p

range(2, 20)

In [26]:
p=range(2,20,2)
p

range(2, 20, 2)

In [27]:
b=list(range(2,20,2))
b

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [28]:
for i in ['lemon','apple','oranges','banana']:
    print(i)

lemon
apple
oranges
banana

In [29]:
for i in ['lemon','apple','oranges','banana']:
    if i=='oranges':
        break
    print(i)

lemon
apple

In [30]:
for i in ['lemon','apple','oranges','banana']:
    if i=='oranges':
        continue
    print(i)

lemon
apple
banana

TASK 2

create 2 programe for loop on list of object named colors with elements red,yellow,green,blue,purple

write break statement when color=='green' write continue statement when color=='green'

In [31]:
marks=90
if marks>80:
    print ('Excellent')
else:
    print('Good')

Excellent

In [32]:
fact=2
num=12
if num%fact == 0:
    print ("even")
else:
     print('odd')

even

In [33]:
k=int(input("Enter value"))
if k%2==0:
    print("Value of k is ",k,"even bumber")
else:
    print("Value of k is ",k,"odd number")

Enter value8
Value of k is  8 even bumber

STRING FUNCTIONS

In [34]:
word='WELCOME To python'
word

'WELCOME To python'

In [35]:
word.lower()

'welcome to python'

In [36]:
word.swapcase()

'welcome tO PYTHON'

In [37]:
word.split()

['WELCOME', 'To', 'python']

In [38]:
#word alphabetic
word2="python"
word2.isalpha()

True

In [39]:
# string concatenation
str1='NEW'
str2='Horizon'
print(str1 + str2)
print(str1+ ' ' +str2)

NEWHorizon
NEW Horizon

STRING FORMATES

Python uses C-style string formatting to creat new, formatted string. The "%" operator is used to formate a set of variables enclosed in a "tuple" (a fixed size list), together with a formate string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d"

In [40]:
# this prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [41]:
# this prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [42]:
x="apples"
y="lemons"
z="i have %s and %s" %(x,y)
print(z)

i have apples and lemons

In [43]:
name='john'
age=24
print("his name is {} he is {} year old.".format(name,age))

his name is john he is 24 year old.

In [44]:
print('{0} and {1}'.format('spam', 'eggs'))
print('{1} and {0}'.format('spam', 'eggs'))

spam and eggs
eggs and spam

Functions

Help()

In [45]:
k=[40,90,22,78,30,67]
min(k)

22

In [46]:
max(k)

90

In [47]:
def hello():
    print("Functions in python")
    # calling a function
hello()

Functions in python

In [48]:
def example():
    print("this is my first example")
    s=4*4
    print(s)
    
example()  # make a call to a function

this is my first example
16

Function with parameters

In [49]:
def addition(a,b):
    sum=a+b
    print(sum)
    
# passing parameters in function
addition(6,4)

10

# Task 3

Create subtraction function and call it

In [50]:
def subtraction(a,b):
    sub=a-b
    print(sub)
    
#make a call
subtraction(57,94)

-37

In [51]:
x=10 # global variable
def example1():
    x=2  # local variable
    print(x)
    
example1()

2

In [52]:
x

10

In [53]:
def usercall():
    name =str(input('enter your name '))# if want to without space give here space with name
    
#make a call to a function
usercall()

enter your name Indresh Kumar Verma

In [54]:
def run():
    for x in range(6):
        print(x)
        
# call to run function
run()

0
1
2
3
4
5

In [55]:
def run1():
    for x in range (2,20,2):
        print(x)

In [56]:
# function call
run1()

2
4
6
8
10
12
14
16
18

In [57]:
def run():
    for x in range(10):
        if x==5:
            return
        print("RUN")

In [58]:
# funtion call
run()

RUN
RUN
RUN
RUN
RUN

In [59]:
def run2():
    for i in range (30):
        if i==15:
            return
        print(i)

In [60]:
run2()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

Variable Number of Arguments

In cases where you do not know the exact number of arguments that you want to pass to a function, you can use the following syntax with *args:

In [61]:
def plus(*args):
    return sum(args)

In [62]:
#calling a function
plus(6,4,10)

20

In [63]:
plus(2,2,1,4,5)

14

In [64]:
def mu(*args):
    return max(args)

In [65]:
mu(9,90,78,45)

90

In [66]:
mu(19,80)

80

In [67]:
def mi(*args):
    return min(args)

In [68]:
mi(67,83,96)

67

In [69]:
#s=s+n      for s+=n

def sum(*numbers):
    s=0
    for n in numbers:
        s+=n
        return s

In [70]:
print (sum(1,2))

1

In [71]:
print(sum(1,2,3))

1

In [72]:
print(sum(1,2,3,4,))

1

Anonymous functions Lambda

In [73]:
test = lambda x:x*2;
test (5)

10

In [74]:
test (8)

16

In [75]:
sum=lambda x,y :x+y;
sum(3,4)

7

In [76]:
def sum (x,y):
    print('addition =',x+y)

In [77]:
sum(7,7)

addition = 14

In [78]:
def main():
    sum(20,4)
    print ('This is a main function')

In [79]:
main()

addition = 24
This is a main function

In [80]:
#calling tyhe main function in python
if __name__=='__main__':
    main()

addition = 24
This is a main function