In [1]:
import pandas as pd
import pandas as np

In [2]:
y=pd.Series([1,2,3,4,5])
y

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
x=pd.Series([1,2,3,4,5])

In [4]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# Series(data,index,dtype)

s = pd.Series([1,2,3,4,5],index=[11,12,13,14,15],dtype=float)
s

11    1.0
12    2.0
13    3.0
14    4.0
15    5.0
dtype: float64

In [6]:
# accessing data from Series
s=pd.Series([20,34,39,42,59])
print(s[0])

20

In [7]:
s[3]

42

In [8]:
# retrieve first three elements
s=pd.Series([10,20,30,40,50,60,70,80])
print(s[0:3])

0    10
1    20
2    30
dtype: int64

In [9]:
#passing data from list
data=np.array([1,2,3,4])
m=pd.Series(data)
m

0    1
1    2
2    3
3    4
dtype: int32

In [10]:
demodict = {'Name':'X','Age':12}
s1 = pd.Series(demodict)

In [11]:
s1

Name     X
Age     12
dtype: object

#Task  create one dictionary object with cricketer name and run and pass it to pandas series print

In [12]:
ckr = {'name' : 'virat' , 'runs' : 243, 'innings' : 3, 'balls': 56}
ckr

{'name': 'virat', 'runs': 243, 'innings': 3, 'balls': 56}

In [13]:
s2 = pd.Series(ckr)
s2

name       virat
runs         243
innings        3
balls         56
dtype: object

Python Pandas - DATAFRAME

A pandas Dataframe can be created using the following constructor-

pandas.DataFrame(data,index,columns,dtype,copy)

In [14]:

data = [1,2,3,4]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4

In [15]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data)
df

        0   1
0    Alex  10
1     Bob  12
2  Clarke  13

In [16]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [17]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [18]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [19]:
#Note - Observe, NON (Not a Number) is appended in missing areas.
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data,dtype=float)
print (df)

     a     b     c
0  1.0   2.0   NaN
1  5.0  10.0  20.0

In [20]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'],dtype=float)
print (df)

          a     b     c
first   1.0   2.0   NaN
second  5.0  10.0  20.0

In [21]:
import pandas as pd
import numpy as np

In [22]:
s = pd.Series((1,2,3),dtype=float)
s

0    1.0
1    2.0
2    3.0
dtype: float64

In [23]:
demodict = {'Name':'X','Age':12}
s1 = pd.Series(demodict)
s1

Name     X
Age     12
dtype: object

In [24]:
#Addition of Rows
#Add new rows to a DataFrame using the append function. This function will append the rows at the end.
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

.loc() Pandas provide various methods to have purely label based indexing.

In [25]:
df=pd.DataFrame(np.random.randn(8,4),index=['a','b','c','d','e','f','g','h'],columns=['A','B','C','D'])
df

          A         B         C         D
a  0.826187 -0.346086 -0.490693 -0.695959
b  0.229856 -0.674934  1.425753  1.380330
c -1.485233  1.549788 -0.588919  0.964504
d -0.563662  1.692544 -0.098730  1.276569
e  0.987347  2.492531  1.209564  1.207858
f  1.320890  0.276919  0.034869  1.359996
g  1.780197 -0.421522  0.452276  0.211618
h  0.952769  0.860300 -0.269415 -0.528921

loc[rowstart rowend,'label or column name']

In [26]:
print(df.loc[:,'A'])

a    0.826187
b    0.229856
c   -1.485233
d   -0.563662
e    0.987347
f    1.320890
g    1.780197
h    0.952769
Name: A, dtype: float64

In [27]:
print(df.loc[:,'D'])

a   -0.695959
b    1.380330
c    0.964504
d    1.276569
e    1.207858
f    1.359996
g    0.211618
h   -0.528921
Name: D, dtype: float64

df.loc[['indexname1,'indexname2'],[labelA,labelB]] as location will take label only, it will not work with indexing in numeric format

In [28]:
print(df.loc[['b','c','e'],['A','C']])

          A         C
b  0.229856  1.425753
c -1.485233 -0.588919
e  0.987347  1.209564

In [29]:
print(df.loc[:,['C','D']])

          C         D
a -0.490693 -0.695959
b  1.425753  1.380330
c -0.588919  0.964504
d -0.098730  1.276569
e  1.209564  1.207858
f  0.034869  1.359996
g  0.452276  0.211618
h -0.269415 -0.528921

.iloc() Pandas provide various methods in order to get purely integer based indexing Like python and numpy, these are 0-based indexing.

In [30]:
df=pd.DataFrame(np.random.randn(8,4),columns=['A','B','C','D'])

print(df)

print(df.iloc[:4])

          A         B         C         D
0 -1.748572  0.652352 -0.700110  0.191917
1  0.887807 -0.495312 -0.619217  0.403395
2  0.292196 -0.196555 -0.249420 -1.549615
3  0.101905 -0.327587  0.156669 -0.303442
4 -0.189672  0.526201 -0.146166  1.781118
5  0.139497  0.028001 -1.551199  0.884466
6  0.180240 -1.100170  1.550915 -0.521562
7 -0.636491  0.502134  0.066447  0.410683
          A         B         C         D
0 -1.748572  0.652352 -0.700110  0.191917
1  0.887807 -0.495312 -0.619217  0.403395
2  0.292196 -0.196555 -0.249420 -1.549615
3  0.101905 -0.327587  0.156669 -0.303442

df.iloc[startrowindex:endrowindex,startcolumnindex:endcolumindex]

In [31]:
print(df.iloc[1:5,1])

1   -0.495312
2   -0.196555
3   -0.327587
4    0.526201
Name: B, dtype: float64

In [32]:
df

          A         B         C         D
0 -1.748572  0.652352 -0.700110  0.191917
1  0.887807 -0.495312 -0.619217  0.403395
2  0.292196 -0.196555 -0.249420 -1.549615
3  0.101905 -0.327587  0.156669 -0.303442
4 -0.189672  0.526201 -0.146166  1.781118
5  0.139497  0.028001 -1.551199  0.884466
6  0.180240 -1.100170  1.550915 -0.521562
7 -0.636491  0.502134  0.066447  0.410683

In [33]:
print(df.iloc[2:6,2])

2   -0.249420
3    0.156669
4   -0.146166
5   -1.551199
Name: C, dtype: float64

In [34]:
print(df.iloc[:,3])

0    0.191917
1    0.403395
2   -1.549615
3   -0.303442
4    1.781118
5    0.884466
6   -0.521562
7    0.410683
Name: D, dtype: float64

In [35]:
print(df.iloc[3:6,3])

3   -0.303442
4    1.781118
5    0.884466
Name: D, dtype: float64

In [36]:
print(df.iloc[1:5,2:4])    # 4 is exclusive

          C         D
1 -0.619217  0.403395
2 -0.249420 -1.549615
3  0.156669 -0.303442
4 -0.146166  1.781118

In [37]:
print(df.iloc[[1,3,5],[1,3]])
print(df.iloc[1:3,:])
print(df.iloc[:,1:3])

          B         D
1 -0.495312  0.403395
3 -0.327587 -0.303442
5  0.028001  0.884466
          A         B         C         D
1  0.887807 -0.495312 -0.619217  0.403395
2  0.292196 -0.196555 -0.249420 -1.549615
          B         C
0  0.652352 -0.700110
1 -0.495312 -0.619217
2 -0.196555 -0.249420
3 -0.327587  0.156669
4  0.526201 -0.146166
5  0.028001 -1.551199
6 -1.100170  1.550915
7  0.502134  0.066447

In [38]:
print(df.iloc[:,-1])

0    0.191917
1    0.403395
2   -1.549615
3   -0.303442
4    1.781118
5    0.884466
6   -0.521562
7    0.410683
Name: D, dtype: float64

In [39]:
print(df.iloc[:,-3])

0    0.652352
1   -0.495312
2   -0.196555
3   -0.327587
4    0.526201
5    0.028001
6   -1.100170
7    0.502134
Name: B, dtype: float64

In [40]:
print(df.iloc[:,-3:-2])

          B
0  0.652352
1 -0.495312
2 -0.196555
3 -0.327587
4  0.526201
5  0.028001
6 -1.100170
7  0.502134

In [41]:
print(df.iloc[2:5,-3:-1])

          B         C
2 -0.196555 -0.249420
3 -0.327587  0.156669
4  0.526201 -0.146166